@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.Hero {
  background-image: url('/kasparov-art.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: 'Abel', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.kasparov-image {
  object-fit: cover;
  width: 100%;
  margin: auto auto;
}



@media(min-width: 1000px) {
  .kasparov-image {
    object-fit: cover;
    width: 50%;
  }
}

@media(min-width: 1500px) {
  .kasparov-image {
    object-fit: cover;
    width: 40%;
  }
}